@import url('https://fonts.googleapis.com/css?family=Keania+One');
@import url('https://fonts.googleapis.com/css?family=Dosis');


/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #ffffff; /* White background color */
  padding: 20px; /* Some padding */
}

.banner-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("lib/bitchery_banner_no_text.png");
  /* Set a specific height */
  height: 100%;
  min-height:300px;
  border-radius: 4px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


h1 {
  text-align: center;
  font-family: 'Keania One'; 
  font-size: 50px;
  color: rgb(81, 9, 63);
}

hr.gradient {
  height: 3px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgb(110, 23, 168) 0%,
    rgb(179, 8, 139) 21%,
    rgb(222, 9, 76) 66%,
    rgb(217, 178, 7) 100%
    
  );
}

h2 {
  text-align: left;
  padding-left: 8px;
  margin-bottom: 10px;
  font-family: 'Dosis'; 
  font-size: 30px;
  color: rgb(81, 9, 63);
}

p {
  text-align: left;
  margin: 8px;
  font-family: 'Dosis'; 
  font-size: 16px;
  color: rgb(43, 3, 33);
}

body {
  flex: 70%; /* Set the width of the main content */
  background-color: rgb(255, 255, 255); /* White background color */
  padding: 20px; /* Some padding */
  font-family: 'Dosis';
  color: rgb(43, 3, 33);
}


/* image buttonsssssssss */
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#our-games {
  border-radius: 7px;
  position: relative;
  text-align: center;
  font-family: 'Keania One'; 
  font-size: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: rgb(43, 3, 33); /* Grey background */
    color: white; /* White text color */
    border-radius: 4px;
    font-family: 'Dosis';
    font-size: 24px;
  }





