@import url('https://fonts.googleapis.com/css?family=Rubik+Iso');


/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #f1f1f1; /* Grey background color */
  padding: 20px; /* Some padding */
}

h1 {
  text-align: center;
  font-family: 'Rubik Iso'; 
  font-size: 50px;
  color: rgb(24, 55, 95);
  font-family: ;
}

/* Main column */
body {
  flex: 70%; /* Set the width of the main content */
  background-color: rgb(125, 86, 86); /* White background color */
  padding: 20px; /* Some padding */
}

footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
  }


