@import url('https://fonts.googleapis.com/css?family=Keania+One');
@import url('https://fonts.googleapis.com/css?family=Dosis');


/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #f1f1f1; /* Grey background color */
  padding: 20px; /* Some padding */
}

.banner-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("lib/bitchery_banner_no_text.png");

  /* Set a specific height */
  height: 100%;
  min-height:300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


h1 {
  text-align: center;
  font-family: 'Keania One'; 
  font-size: 50px;
  color: rgb(81, 9, 63);
}

/* Main column */
body {
  flex: 70%; /* Set the width of the main content */
  background-color: rgb(255, 255, 255); /* White background color */
  padding: 20px; /* Some padding */
  font-family: 'Dosis';
  color: rgb(43, 3, 33);
}

footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: rgb(43, 3, 33); /* Grey background */
    color: white; /* White text color */
  }


